<!-- author box -->
<div class="ui segment">
    <div class="ui items">
        <div class="item">
            <a class="ui circular tiny image">
                <img src="/assets/img/WilliamsCecil.png">
            </a>
            <div class="content">
                <a class="header">Cecil G. Williams</a>
                <div class="description">
                    <p>Agile Coach | Software Craftsman | Mentor/Teacher | Consultant | Passionate about software engineering practices.</p>
                </div>
            </div>
        </div>
    </div>
</div>