<footer>
    <div class="footer-wrapper">
        <div class="ui secondary inverted">
            <p style="text-align: center !important;">&copy; <script>document.write(new Date().getFullYear());</script> Cecil G. Williams.  All Rights Reserved.</p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/main.js"></script>
<script type="text/javascript" src="/assets/js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/vendor/semantic.min.js"></script>