---
layout: default
---

<div class="ui centered grid stackable">
  
    <div class="eight wide column">
            <div class="ui horizontal divider">
                Featured Posts
            </div>  
            <section>
                    {% for e in site.featured_feed %}
                        <h2><a href="{{ e.link }}">{{e.title}}</a></h2>
                        <p>Published on {{e.date}} for <a href="https://blogs.sourceallies.com">Source Allies Blog</a></p>
                        <p> {{e.desc}}</p>
                    {% endfor %}
            </section>
        </br>
    </div>
    <div class="eight wide column">
            <div style="text-align:center;">
                <a class="twitter-follow-button"
                    href="https://twitter.com/CecilGWilliams"
                    data-size="large"
                    data-show-count="false">Follow @CecilGWilliams
                </a>
                <p>
                    <a class="twitter-timeline" data-width="400" data-height="550" data-theme="light" href="https://twitter.com/CecilGWilliams?ref_src=twsrc%5Etfw">Tweets by CecilGWilliams</a> 
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </p>
            </div>
    </div>
</div>